html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: 0;
  color: #000;
  font-family: sans-serif;
}
body{
  background: linear-gradient(to right bottom,#938844, #fff);
  color: #fff;
  font-family: 'Ubuntu' , sans-serif;
}
a{
  text-decoration: none;
  color: #8807B8;
  border-right: 1px solid #8807B8;
  padding: 0 .5rem;
}
a:last-child{
  border-right: 0;
}
.home-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5rem 2rem 0;
  background-color: #fff;
}
.home-nav{
  display: flex;
  align-items: flex-end;
}

.logo-div{
  margin-right: auto;
}
.logo{
  width: 100px;
  height: 80px;
}

.container{
  width: 60%;
  margin: 0 auto;
}
.font-div{

}

.font-input{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.field{
  height: 2.5rem;
  width: 20rem;
  /*background-color: transparent;
  color: #fff;*/
  border: none;
  border-bottom: 1px solid lightgray;
}
.arrayResult{
  width: 400px;
  height: 300px;
  margin: 0 auto;
  word-wrap: break-word;
  overflow-y: scroll;
}

/*Convert img into array*/
.upload-img{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.btn{
  width: 10rem;
  margin-left: 1rem;
  background: #ABA26D;
  color: #fff;
  height: 2.5rem;
}
.flex-column{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.center{
  text-align: center;
}
.alert{
  color: red;
}
